/** @format */
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
ul {
  list-style-type: none;
}
:root {
  --primary: #212a3e;
  --white: #ffffff;
}
.box {
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 10px 10px 20px #f5f5f5;
  padding: 0.6rem;
}
.container {
  padding: 1rem;
}

.first_row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 3fr 1fr 1fr;
  gap: 0.5rem;
}
// Box 1 :

.card1 {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  padding: 0.6rem;
  background-color: #ff156f;
  color: pink;
}
.logo_card-info {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.logo_card-logo {
  width: 6rem;
  height: 6rem;
}
.red_title {
  text-align: center;
  color: red;
  font-weight: 600;
}
.heading_logo {
  text-align: center;
  color: var(--primary);
  font-weight: 500;
  line-height: 1rem;
  font-size: 1rem;
}
.date_logo {
  text-align: center;
  color: #b0a4a4;
}
// Box 2 :
.TotalEarnings {
  /* background-color: brown; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  align-items: center;
}
.img_euro {
  width: 3rem;
  height: 3rem;
}
.img_ecouteurs {
  width: 3rem;
  height: 3rem;
}
.TotalEarnings_head {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.TotalEarnings_head-title {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.TotalEarnings_head-Numbers {
}
.big_number {
  color: var(--primary);
}
.small_para {
  font-size: 0.8rem;
}
.TotalEarnings_head-Calls {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
// Box 3 :
.consultant {
  position: relative;
}
.list_items {
  margin: 0.8rem;
}
.Chart_container {
  /* width: 40rem; */
  height: 10rem;
}
.item {
  display: flex;
  gap: 2rem;
  padding: 0.2rem;
}
.TEByMonths {
}
.TEByMonths_data {
  display: flex;
  gap: 1rem;
}

.Paid_Unpaid {
  display: flex;
  gap: 1rem;
}
.Paid_Unpaid_item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.Monthly_card {
  background-color: lightblue;
}
.listMonth {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
}
.EarnedCourses_card {
  background-color: pink;
}
.Second_row {
  background-color: red;
}
.third_row {
  background-color: red;
}

.circle-wrap {
  margin: 0.4rem auto;
  width: 150px;
  height: 150px;
  background: #cdcbd0;
  border-radius: 50%;
  border: 1px solid #cdcbd0;
}
.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
}

.green_bg {
  background-color: green;
  color: green;
}
.pink_bg {
  background-color: pink;
  color: pink;
}

.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.mask.full,
.circle .fill {
  animation: fill ease-in-out 3s;
  transform: rotate(135deg);
}

@keyframes fill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(135deg);
  }
}
.circle-wrap .inside-circle {
  width: 122px;
  height: 122px;
  border-radius: 50%;
  background: #fff;
  line-height: 120px;
  text-align: center;
  margin-top: 14px;
  margin-left: 14px;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}
